In [1]:
import pandas as pd

In [2]:
file="https://github.com/masterfloss/data/raw/refs/heads/main/AI_Eurostat.xlsx"

In [3]:
df=pd.read_excel(file)

In [4]:
df

    Unnamed: 0  Year    USE    HR EXPERT N_LAW N_ETHICS N_USEFUL   FIN
0      Albania  2021   3.67     :      :     :        :        :     :
1      Albania  2023      :     :      :     :        :        :     :
2      Albania  2024      :     :      :     :        :        :     :
3      Austria  2021   8.83  0.41    4.1  2.12     0.89     2.08     :
4      Austria  2023  10.79     :   6.34  4.55     2.23     2.67  3.63
..         ...   ...    ...   ...    ...   ...      ...      ...   ...
103     Sweden  2023  10.37     :   5.08  2.49     1.65     1.81  2.33
104     Sweden  2024  25.09     :   7.73  4.07     2.19     2.18  4.06
105    Türkiye  2021   2.69  0.89      :     :        :        :     :
106    Türkiye  2023   5.51     :      :     :        :        :   2.5
107    Türkiye  2024   4.42     :   6.67  5.37     3.76     1.73  1.39

[108 rows x 9 columns]

In [5]:
df = df.rename(columns={'Unnamed: 0': 'Country'})
df.head()

   Country  Year    USE    HR EXPERT N_LAW N_ETHICS N_USEFUL   FIN
0  Albania  2021   3.67     :      :     :        :        :     :
1  Albania  2023      :     :      :     :        :        :     :
2  Albania  2024      :     :      :     :        :        :     :
3  Austria  2021   8.83  0.41    4.1  2.12     0.89     2.08     :
4  Austria  2023  10.79     :   6.34  4.55     2.23     2.67  3.63

In [6]:
df.columns

Index(['Country', 'Year', 'USE', 'HR', 'EXPERT', 'N_LAW', 'N_ETHICS',
       'N_USEFUL', 'FIN'],
      dtype='object')

In [7]:
columns_to_convert = ['USE', 'HR', 'EXPERT', 'N_LAW', 'N_ETHICS', 'N_USEFUL', 'FIN']
for col in columns_to_convert:
    df[col] = df[col].replace(':', pd.NA)
    df[col] = pd.to_numeric(df[col])

df.head()

   Country  Year    USE    HR  EXPERT  N_LAW  N_ETHICS  N_USEFUL   FIN
0  Albania  2021   3.67   NaN     NaN    NaN       NaN       NaN   NaN
1  Albania  2023    NaN   NaN     NaN    NaN       NaN       NaN   NaN
2  Albania  2024    NaN   NaN     NaN    NaN       NaN       NaN   NaN
3  Austria  2021   8.83  0.41    4.10   2.12      0.89      2.08   NaN
4  Austria  2023  10.79   NaN    6.34   4.55      2.23      2.67  3.63

In [8]:
from numpy import average
average(df.USE.dropna())

9.45631067961165

In [9]:
df_avg_by_country = df.groupby('Country')[['USE', 'HR', 'EXPERT', 'N_LAW', 'N_ETHICS', 'N_USEFUL', 'FIN']].mean()

In [10]:
df_avg_by_country

,USE,HR,EXPERT,N_LAW,N_ETHICS,N_USEFUL,FIN
Country,,,,,,,
Albania,3.670000,NaN,NaN,NaN,NaN,NaN,NaN
Austria,13.296667,0.41,6.853333,4.810000,2.250000,3.006667,4.625
Belgium,16.280000,0.99,4.573333,2.453333,1.133333,1.080000,6.000
Bosnia and Herzegovina,4.590000,NaN,NaN,NaN,NaN,NaN,NaN
Bulgaria,4.460000,0.42,1.933333,1.380000,0.563333,0.446667,0.920
Croatia,9.463333,0.14,3.983333,2.783333,1.330000,1.043333,1.170
Cyprus,5.053333,0.30,4.086667,2.686667,1.843333,1.030000,1.150
Czechia,7.206667,0.33,NaN,NaN,NaN,NaN,2.290
Denmark,22.213333,2.96,10.485000,5.355000,6.110000,2.860000,7.065
Estonia,7.283333,0.14,3.183333,2.243333,1.006667,1.276667,2.205
Euro area,10.530000,0.63,6.420000,4.615000,2.065000,1.810000,2.730
European Union - 27,9.730000,0.62,5.775000,4.105000,1.895000,1.680000,2.565
Finland,18.420000,1.22,9.775000,4.015000,1.355000,2.615000,5.705
France,7.486667,0.34,NaN,NaN,NaN,NaN,NaN
Germany,13.953333,0.65,8.295000,8.250000,2.660000,2.470000,3.845
Greece,5.466667,0.03,4.003333,2.443333,1.426667,1.713333,0.705
Hungary,4.690000,0.42,2.696667,1.870000,1.000000,1.090000,1.125
Ireland,10.263333,1.26,NaN,NaN,NaN,NaN,2.725
Italy,6.473333,0.44,2.400000,1.740000,1.120000,0.620000,0.995
Latvia,5.693333,0.51,3.523333,2.236667,0.923333,1.350000,1.670
Lithuania,6.023333,0.54,5.443333,4.700000,1.750000,2.083333,1.700
Luxembourg,17.060000,1.01,5.570000,4.100000,2.430000,1.430000,3.780
Malta,13.543333,1.89,8.813333,5.343333,4.040000,5.090000,0.980
Montenegro,5.620000,0.24,NaN,NaN,NaN,NaN,0.770
Netherlands,16.753333,2.13,4.980000,2.053333,1.026667,0.986667,4.655
North Macedonia,NaN,0.62,NaN,NaN,NaN,NaN,NaN
Norway,13.586667,0.70,4.956667,2.560000,1.373333,1.056667,6.315
Poland,4.143333,0.32,1.420000,1.096667,0.546667,0.780000,1.695
Portugal,7.896667,1.00,4.470000,3.606667,2.080000,1.226667,1.960
Romania,1.986667,0.37,NaN,NaN,NaN,NaN,0.445
Serbia,3.223333,0.07,NaN,NaN,NaN,NaN,0.350
Slovakia,7.670000,0.14,3.986667,3.163333,1.393333,1.783333,2.205
Slovenia,14.663333,0.32,4.410000,3.236667,1.560000,1.813333,3.500
Spain,9.386667,0.60,4.100000,2.373333,1.010000,0.613333,2.040
Sweden,15.126667,1.26,5.843333,2.786667,1.670000,1.770000,3.195
Türkiye,4.206667,0.89,6.670000,5.370000,3.760000,1.730000,1.945

In [ ]:
df1=pd.read_excel(file,sheet_name=1)

In [ ]:
df1

In [ ]:
df1.columns

In [ ]:
df1['Enterprises use at least one of the AI technologies: AI_TTM, AI_TSR, AI_TNLG, AI_TIR, AI_TML, AI_TPA, AI_TAR'][0]